/* CSS file for all monoto files */

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

h2 {
    display: block;
    font-size: 0.1em;
    margin: 0.83em 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1em;
    /*
    margin-top: 1.5em !important;
    margin-bottom: 0.5em !important;
    margin-left: 0;
    margin-right: 0;
    */
    margin: 1.5em 0 0.5em 0 !important;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}


/* BUTTONS */
/* Default buttons */
.buttonDefault {
    width:180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* SUB-NAVIGATION TABS */
.nav-tabs{
    margin-top: 30px !important;
}

/* FOOTER */
#footer {
    margin-top: 75px !important;
    color: gray;
    opacity: 1.0 !important;
}



/* Used for logo img in inc/genericNavigation.php */
img {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}



#passstrength {
    color:salmon;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
}




/* COLORS */
.m_blue {
    background-color: LightBlue;
}

.m_green{
    background-color: LightGreen;
}

.m_yellow{
    background-color: lemonchiffon;
}

.m_orange{
    background-color: khaki;
}

.m_red {
    background-color: salmon;
}
