/* CSS file for all monoto files */

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

h2 {
    display: block;
    font-size: 0.1em;
    margin: 0.83em 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1em;
    margin: 1.5em 0 0.5em 0 !important;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}


/* BUTTONS */
/* Default buttons */
.buttonDefault {
    width:180px;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* SUB-NAVIGATION TABS */
.nav-tabs{
    margin-top: 30px !important;
}



/* FOOTER */
#footer {
    margin-top: 75px !important;
    color: gray;
    opacity: 1.0 !important;
}



/* IMAGES & HOVER */
/* Used for logo img in inc/genericNavigation.php */
img {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}



/* COLORS */
.m_blueLight {
    background-color: LightBlue;
}

.m_blueDark {
    background-color: CornflowerBlue;
}

.m_greenLight{
    background-color: LightGreen;
}

.m_greenDark{
    background-color: SeaGreen;
}

.m_yellowLight{
    background-color: LightYellow;
}

.m_yellowDark{
    background-color: Khaki;
}

.m_orangeLight{
    background-color: Coral;
}

.m_orangeDark{
    background-color: DarkOrange;
}

.m_redLight {
    background-color: IndianRed;
}

.m_redDark {
    background-color: FireBrick;
}

.m_pinkLight {
    background-color: LightPink;
}

.m_pinkDark {
    background-color: PaleVioletRed;
}

.m_gray {
    background-color: LightGray;
}



/* Password Strength */
#passstrength {
    color:salmon;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
}
