/*
 * Result- and filter result count in gray
 */
.dataTables_info {
    width: 60%;
    float: left;
    color: gray !important;
}


/*
 * Selected row
 */
table.display tr.even.row_selected td {
    background-color: #4489c9;
}

table.display tr.odd.row_selected td {
    background-color: #4489c9;
}
